<!DOCTYPE html>
<html>
<head>
	<title>Settings</title>

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
	<link rel="stylesheet" type="text/css" href="./node_modules/angular-material/angular-material.css">
	<link rel="stylesheet" type="text/css" href="styles/app.css">

	<script type="text/javascript" src="./node_modules/angular/angular.js"></script>
	<script type="text/javascript" src="./node_modules/angular-aria/angular-aria.js"></script>
	<script type="text/javascript" src="./node_modules/angular-animate/angular-animate.js"></script>
	<script type="text/javascript" src="./node_modules/angular-material/angular-material.js"></script>

	<!-- <script>
		var THREE = require('three');
		var OrbitControls = require('../node_modules/three/examples/js/controls/OrbitControls.js').join
		var EffectComposer = require('../node_modules/three/examples/js/postprocessing/EffectComposer.js').join
		var RenderPass = require('../node_modules/three/examples/js/postprocessing/RenderPass.js').join
		var MaskPass = require('../node_modules/three/examples/js/postprocessing/MaskPass.js').join
		var ShaderPass = require('../node_modules/three/examples/js/postprocessing/ShaderPass.js').join
		var StereoShader = require('../node_modules/three/examples/js/effects/StereoEffect.js').join
		var CopyShader = require('../node_modules/three/examples/js/shaders/CopyShader.js').join
		var STLLoader = require('../node_modules/three/examples/js/loaders/STLLoader.js').join
	</script> -->

	<!--Initial Setup-->
	<script type="text/javascript" src="scripts/index.js"></script>

	<!--View Controller-->
	<script type="text/javascript" src="scripts/app/controller.js"></script>

	<!--Material configs (for now)-->
	<script type="text/javascript" src="scripts/app/config.js"></script>


</head>
<body class="settings">

		<script>

            function closePrefs() {
                ipcRenderer.send('toggle-prefs')
            }

		</script>

		<div class="global-wrapper" ng-controller="ViewController as scope">

			<header class="settings">
				<div class="logo settings"></div>

				<md-button ng-click="reloadPage();">
				 <i class="icon">refresh</i>
			   </md-button>

			</header>
			<md-tabs>

                    <md-tab label="General">
                        <div class="content-wrapper">

                            <md-input-container>
                                <label>Software Bundle</label>
                                <md-select ng-model="scope.software">
                                    <md-option><em>None</em></md-option>
                                    <md-option ng-repeat="bundle in scope.software.bundles" ng-value="bundle">
                                        {{ bundle }}
                                    </md-option>
                                </md-select>
                            </md-input-container>

                            <md-switch ng-model="native.headtracking.active" ng-change="sendNative()">
                                Facetracking
                            </md-switch>

							<md-switch ng-model="native.headtracking.fullscreen" ng-change="sendNative()">
								FullScreen
							</md-switch>

							<md-switch ng-model="native.camera.stereo" ng-change="sendNative();">
								Stereo
							</md-switch>

							<md-switch ng-model="native.debuger" ng-change="sendNative();">
								Debuger
							</md-switch>


                        </div>

						<!-- <script src="scripts/components/scene/scene.js"></script> -->

                    </md-tab>

					<!--<md-tab label="Object">-->

						<!--<div class="content-wrapper">-->

							<!--<md-slider-container>-->
								<!--<span>Pitch </span>-->
								<!--<md-slider ng-model="scope.objectSettings.rotation.x" min="-3" max="3" step="0.01" ng-change="scope.sendObjectParams()">-->
								<!--</md-slider>-->
								<!--<span class="value"> {{scope.objectSettings.rotation.x}}</span>-->
							<!--</md-slider-container>-->

							<!--<md-slider-container>-->
								<!--<span>Roll </span>-->
								<!--<md-slider ng-model="scope.objectSettings.rotation.y" min="-3" max="3" step="0.01" ng-change="scope.sendObjectParams()">-->
								<!--</md-slider>-->
								<!--<span class="value"> {{scope.objectSettings.rotation.y}}</span>-->
							<!--</md-slider-container>-->

							<!--<md-slider-container>-->
								<!--<span>Yaw </span>-->
								<!--<md-slider ng-model="scope.objectSettings.rotation.z" min="-3" max="3" step="0.01" ng-change="scope.sendObjectParams()">-->
								<!--</md-slider>-->
								<!--<span class="value"> {{scope.objectSettings.rotation.z}}</span>-->
							<!--</md-slider-container>-->

							<!--<md-button ng-click="scope.resetObjectOrient()">Reset Orientation</md-button>-->

						<!--</div>-->
					<!--</md-tab>-->


				<md-tab md-autoselect label="Camera">

					<div class="content-wrapper">

						<md-slider-container>
						<span>X </span>
						<md-slider ng-model="native.camera.position.x" min="-100" max="100"  ng-change="sendCamera()">
						</md-slider>
							<span class="value"> {{native.camera.position.x}}</span>
					</md-slider-container>

						<md-slider-container>
							<span>Y </span>
							<md-slider ng-model="native.camera.position.y" min="-100" max="100" ng-change="sendCamera()">
							</md-slider>
							<span class="value">{{native.camera.position.y}}</span>
						</md-slider-container>

						<md-slider-container>
							<span>Z </span>
							<md-slider ng-model="native.camera.position.z" min="-200" max="200" ng-change="sendCamera()">
							</md-slider>
							<span class="value">{{native.camera.position.z}}</span>
						</md-slider-container>

						<md-slider-container>
							<span>Roll </span>
							<md-slider ng-model="native.camera.rotation.x" ng-disabled="camera.lookAtObj" min="-3" max="3" step="0.01" ng-change="sendCamera()">
							</md-slider>
							<span class="value">{{native.camera.rotation.z}}</span>
						</md-slider-container>

						<md-slider-container>
							<span>Pitch </span>
							<md-slider ng-model="native.camera.rotation.y" ng-disabled="camera.lookAtObj" min="-3" max="3" step="0.01" ng-change="sendCamera()">
							</md-slider>
							<span class="value">{{native.camera.rotation.z}}</span>
						</md-slider-container>

						<md-slider-container>
							<span>Yaw </span>
							<md-slider ng-model="native.camera.rotation.z" ng-disabled="camera.lookAtObj" min="-3" max="3"  step="0.01" ng-change="sendCamera()">
							</md-slider>
							<span class="value"><{{native.camera.rotation.z}}</span>
						</md-slider-container>

						<md-switch ng-model="native.camera.lookAtObj" ng-change="sendCamera()">
							Look at object
						</md-switch>

						<!--<md-button ng-click="scope.recenter()">Recenter View</md-button>-->
						<md-button ng-click="resetCamera()">Reset Values</md-button>

						</md-content>

					</div>
				</md-tab>

			</md-tabs>







		</div>

		<script>
            window.document.onload = function(e){
                console.log('loaded')
            }

//            //Sending camera to Viewer
//            function sendCamera(key, data) {
//                var dataToSend = {
//                    key: key,
//                    data: data
//                }
//                ipcRenderer.send('send-camera', dataToSend);
//            }

		</script>

</body>
</html>
