<!DOCTYPE html>
<html>
<head>
	<title>Native View</title>

	<link rel="stylesheet" type="text/css" href="./node_modules/angular-material/angular-material.css">
	<link rel="stylesheet" type="text/css" href="styles/app.css">

	<script type="text/javascript" src="./node_modules/angular/angular.js"></script>
	<script type="text/javascript" src="./node_modules/angular-aria/angular-aria.js"></script>
	<script type="text/javascript" src="./node_modules/angular-animate/angular-animate.js"></script>
	<script type="text/javascript" src="./node_modules/angular-material/angular-material.js"></script>


	<script>

        var THREE = require('three');
        var OrbitControls = require('../node_modules/three/examples/js/controls/OrbitControls.js').join
		var VRControls = require('../node_modules/three/examples/js/controls/VRControls.js').join

        var EffectComposer = require('../node_modules/three/examples/js/postprocessing/EffectComposer.js').join
        var RenderPass = require('../node_modules/three/examples/js/postprocessing/RenderPass.js').join
        var MaskPass = require('../node_modules/three/examples/js/postprocessing/MaskPass.js').join
        var ShaderPass = require('../node_modules/three/examples/js/postprocessing/ShaderPass.js').join
        var StereoShader = require('../node_modules/three/examples/js/effects/StereoEffect.js').join
		var VREffect = require('../node_modules/three/examples/js/effects/VREffect.js').join

        var CopyShader = require('../node_modules/three/examples/js/shaders/CopyShader.js').join
        var STLLoader = require('../node_modules/three/examples/js/loaders/STLLoader.js').join
		var webvrpolyfill = require('../node_modules/three/build/webvr-polyfill.js').join

	</script>


	<!--Initial Setup-->
	<script type="text/javascript" src="scripts/index.js"></script>

	<!--View Controller-->
	<script type="text/javascript" src="scripts/app/controller.js"></script>

	<!--Material configs (for now)-->
	<script type="text/javascript" src="scripts/app/config.js"></script>

	<script src="scripts/components/computerVision/brf/libs/createjs/preloadjs-0.6.2.min.js"></script>
	<script src="scripts/components/computerVision/brf/BRFv4Demo.js"></script>

	<script src="http://localhost:35729/livereload.js"></script>

</head>
<body ng-controller="ViewController as scope">

<script>

	window.onload = brfv4Example.start();

    const {Menu, MenuItem} = remote
    const menu = new Menu()

    menu.append(new MenuItem(
        {
            label: 'Settings',
            submenu: [
                {
                    label: 'Settings',
                    click: function () {
                        ipcRenderer.send('toggle-prefs')
                    }
                }
            ]
        })
    )
    Menu.setApplicationMenu(menu)

</script>


	<header>
		<div class="logo"></div>

		<md-button ng-click="reloadPage();" style="z-index: 1000"><i class="icon">refresh</i>
		</md-button>
	</header>


	<div class="tracker" ng-show="native.headtracking.active" ng-class="{full:native.headtracking.fullscreen}">
		<div class="tracking-wrapper">
			<video id="_webcam" style="transform: scaleX(-1)"></video>
			<canvas id="_imageData" style="opacity: 0"></canvas>
			<canvas id="_faceSub"></canvas>
			<canvas id="_t3d"></canvas>
			<canvas id="_f3d"></canvas>
			<canvas id="_drawing"></canvas>
		</div>
	</div>

	<script src="scripts/components/scene/scene.js"></script>
	<!-- <script src="scripts/components/scene/VRscene.js"></script> -->

	<iframe src="fluid.html"></iframe>
	<video id="desktop"></video>

	<div class="debug" ng-if="native.debuger" style="display: flex; width: 400px; flex-direction: column; position: fixed; bottom: 0; left:0;">
		<span> {{ native }} </span>
	</div>



</body>
</html>
